html, body {
    background-color: black;
}

.btn-large {
    width: 7em;
    height: 2em;
}

.font-big {
    font-size: 5em;
}

.font-med {
    font-size: 1.5em;
}

.font-sm {
    font-size: 1em;
}

.text-bold {
    font-weight: 900;
}

/* FOR MOVIE BOOKING */  
  .seat {
    background-color: #444451;
    height: 2em;
    width: 2em;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .seat.selected {
    background-color:	#df4759;
  }
  
  .seat.occupied {
    background-color: #740e19;
  }
  
  .seat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 10px;
  }
  
  /* END MOVIE BOOKING */